{%  extends '::base.html.twig' %}

{%  block content %}


{% if loggedIn is defined %}

    {% if loggedIn == true %}

        You're logged in, {{ user.name }}!
        <form action="/logout" method="post">
            <input type="submit" value="Logout"/>
        </form>

    {% else %}

        <span style="color:red;">Invalid Login</span>

    {% endif %}
{%  else %}


    <form action="/login" method="post">

        Username: <input type="text" name="username" {% if username is defined %}value="{{ username }}"{% endif %}/>
        <br/>
        Password: <input type="password" name="password" {% if password is defined %}value="{{ password }}"{% endif %}/>
        <br/>

        <input type="submit" value="Login"/>
    </form>

{% endif %}

    {% if message is defined %}

        <span style="color:red;">{{ message }}</span>
    {% endif %}


{% endblock %}